<div class="row justify-content">
    <div class="abouttext col-6">
    	<h2>ながのCAKEとは</h2>
    	<div class="text">
      	<p>
      	  ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        	お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        	様々なバリデーションをご用意しております。<br>
        </p>
      </div>
    </div>
    <div class="about-visual col-6" style="background-image: url('/assets/top1.jpg'); background-size: cover; background-position: center;"></div>
</div>

<div class="row justify-content">
  <div class="sub-visual col-6" style="background-image: url('/assets/top5.jpg');"></div>
    <div class="abouttext col-6">
    	<h2>ながのCAKEの強み</h2>
    	<div class="text">
      	<p>
        	全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        	ぜひご注文ください。
      	</p>
      </div>
      <div style="margin-top: 10%;"></div>
      <h2>ご利用の際には</h2>
    	<div class="text">
      	<p>
      	  会員でない方も商品の閲覧は出来ますが、<br>
          購入には会員登録が必要になります。
      	</p>
      </div>
    </div>
</div>