<% provide(:title, "店舗情報") %>
<div class="row justify-content">
  <div class="col-6" style="">
  	<h2 class="about" style="margin: 80px auto 30px; padding:10px;">ながのCAKEとは</h2>
  	<div class="abouttext" style="font-size: 14px; margin-top: 10px; padding:10px;">
  	<p>ながのCAKEは全国発送可能なケーキ屋さんです。<br>
  	お子様からお年寄りの方までお召し上がりいただけるよう、<br>
  	様々なバリデーションをご用意しております。<br>
  	また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
  	ぜひご注文ください。</p>
    </div>
  </div>
  <div class="main-visual col-6"></div>
</div>