<% provide(:title, "店舗情報") %>
<div class="row justify-content">
    <div class="abouttext col-6">
    	<h2>ながのCAKEとは</h2>
    	<div class="text">
      	<p>
      	  ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        	お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        	様々なバリデーションをご用意しております。<br>
        </p>
      </div>
    </div>
    <div class="main-visual col-6"></div>
</div>

<div class="row justify-content">
    <div class="sub-visual col-6"></div>
    <div class="abouttext col-6">
    	<h2>ながのCAKEの強み</h2>
    	<div class="text">
      	<p>
        	全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。<br>
        	ぜひご注文ください。
      	</p>
      </div>
      <div class="col-6" style="flex: 0 0 30%;"></div>
      <h2>ながのCAKEとは3</h2>
    	<div class="text">
      	<p>
      	  正直いらなかったら<br>
          まるごと消すのもアリです
      	</p>
      </div>
    </div>
</div>