<!doctype html>
<html lang="ja">
<body>
  <main>
    <!--メイン画像-->
  <!--<div class="main-visual">-->
  <div class="slideshow-container">
    <div class="slide fade" style="background-image: url('/assets/top1.jpg'); background-size: cover; background-position: center;"></div>
    <div class="slide fade" style="background-image: url('/assets/top2.jpg'); background-size: cover; background-position: center;"></div>
    <div class="slide fade" style="background-image: url('/assets/top3.jpg'); background-size: cover; background-position: center;"></div>
    <div class="slide fade" style="background-image: url('/assets/top4.jpg'); background-size: cover; background-position: center;"></div>
    <!--ジャンル検索欄-->
      <%= render 'layouts/genres' %>
    </div>
  </div>
  </main>
    <div class="main-visual-content">
      <h4 class="main-visual-text">
        ようこそ、ながのCAKEへ！
      </h4>
      <p class="main-visual-name">
        このサイトでは、ケーキ販売のECサイトになります。<br>
        会員でない方も商品の閲覧は出来ますが、<br>
        購入には会員登録が必要になります。<br>
      </p>
    </div>
  <!--新着商品-->
  <item>
    <section class="newitem">
      <h2 class="new-h">新着商品</h2>
    </section>
    <div class="item row row-cols-4 p-4" style="margin-right: 0px;">
      <div class="product-grid grid grid--rigid grid--2-col grid--3-col-tablet grid--4-col-desktop slider slider--tablet">
        <!--できれば画像・商品名・値段でテンプレート化して持ってきたい-->
    <ul>
      <il><div class="item-blk col p-3">
        <a class="item-blk-image"></a>
        <p class="item-blk-date">商品名</p>
        <p class="price">値段</h3>
      </div></il>
    </ul>
      </div>
    </div>
  </item>
</body>

</html>