Topページ
<div class="page-width page-width--full-width section--padding">
  <slideshow-component id="Slideshow-template--22798604140830__1653888937c9cc90f7" class="slideshow slideshow--modern slideshow--650px slideshow--mobile-400px" data-autorotate="true" data-autorotate-speed="5000">
      <div class="slideshow__left flickity-enabled">
        <div class="flickity-viewport">
          <div class="flickity-slider" style="transform: translateX(-300%);">
            <div class="slideshow__slide flickity-cell" style="transform: translateX(0%);" aria-hidden="true">
            </a>
            </div>
          </div>
        </div>
      </div>
</div>
