<h2>ショッピングカート</h2>

<%= link_to 'カートを空にする', destroy_all_cart_items_path, method: :delete, class: "btn btn-danger" %>

<table>
  <thead>
      <th>単価(税込)</th>
      <th>小計</th>
  </thead>
  <tbody>
  <!--< % @cart_item.each do |cart_item| %>-->
  <!--    <tr>-->
  <!--        <td>消す方< %= (cart_item.item.price * 1.1).floor %></td>-->
  <!--        item.rbに-->
  <!--        def with_tax_price-->
  <!--          (price * 1.1).floor-->
  <!--        endを入力したらコメントアウト文に変更-->
  <!--        <td>< %= cart_item.item.with_tax_price%></td>-->
  <!--        <td>< %= cart_item.subtotal %></td>-->
  <!--        <td>< %= link_to '削除する', cart_item_path, class: "btn btn-danger" %><td>-->
  <!--        < % @total_price +=  cart_item.subtotal %>-->
  <!--    </tr>-->
  <!--< % end %>-->
  </tbody>
</table>

<!--< %= link_to '買い物を続ける',items_path, class: "btn btn-primary" %>-->

<%= link_to '情報入力に進む', new_order_path, class: "btn btn-success" %>
