@use '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Klee One", cursive;
  font-weight: 400;
  font-style: normal;
}

/* クリックしていないリンク */
a:link {
	color: #402B3A;
}
/* クリック済みのリンク */
a:visited{
	color: #402B3A;
}
/* カーソルを合わせたとき */
a:hover{
	color: #D63484;
}
/* 選択中のリンク */
a:active{
	color: #D63484;
}

body {
  color: #402B3A;
}

.text {
  font-size: 14px;
  margin-top: 14px;
}

.header {
}

.header-content {
  color:#402B3A;
  display: inline-flex;
  padding: 1.2rem 1.5rem;
  white-space: nowrap;
}

.navbar .container-fluid {
  justify-content: start;
}

// ジャンル
.genre {
  color: #D63484;
  background: rgba(#ffffff, 0.4);
  height: 100%;
  text-align: center;
  list-style:none
}

.genre-content {
  padding: 1.2rem 1.5rem;
  white-space: nowrap;
}

.main-visual {
  width: 100%; /* 横幅いっぱい */
  height: 400px; /* 高さ */
  //background-color: #253782;
  background-image: url('/images/food-photographer-jennifer-pallian-8Jg4U4xHu-o-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

.sub-visual {
  width: 100%; /* 横幅いっぱい */
  height: 1000px; /* 高さ */
  background-image: url('/images/deva-williamson-0hnqS3Stj0w-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

.new-h {
  text-align: center;
  font-size: 30px;
  margin: 20px;
}

.item {
  padding: 0 5rem;
  column-gap: var(--grid-horizontal-spacing);
}

.footer {
  background-color: #F8F4EC;
  display: flex;
}

.abouttext {
  justify-content: center;
  padding:4rem;
  display: flex;
  flex-direction: column;
}

.table {
  color: #402B3A;
  background-color: #F8F4EC;
}

table thead :first-child {
	color: #F8F4EC;
	background: #402B3A;
}

// ボタン関連
.btn,
a.btn,
button.btn {
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #fff;
  background-color: #402B3A;
  border-radius: 0.5rem;
}

.btn-flat {
  overflow: hidden;
  color: #fff;
  border-radius: 0;
  background: #000;
}

.btn-flat span {
  position: relative;
}

.btn-flat:before {
  position: absolute;
  top: 0;
  left: 30px;
  width: 150%;
  height: 500%;
  content: '';
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-70%) rotate(135deg);
  transform: translateX(-98%) translateY(-70%) rotate(135deg);
  background: #FF9BD2;
}

.btn-flat:hover:before {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(135deg);
  transform: translateX(-9%) translateY(-25%) rotate(135deg);
}

// ハンバーガーメニュー
.openbtn{
	/*ボタン内側の基点となるためrelativeを指定。
追従するナビゲーションの場合はfixed＋top、rightといった位置をセットで指定*/
	position: relative;
	background: #402B3A;
	cursor: pointer;
  width: 50px;
  height: 50px;
	border-radius: 5px;
}

/*ボタン内側*/
.openbtn span{
  display: inline-block;
  transition: all .4s;/*アニメーションの設定*/
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
	background: #fff;
  width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;/*真ん中の線は透過*/
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}