<footer>
  <nav class="navbar navbar-expand-sm navbar-light bg-light mb-3" style="padding: 0px;">
    <div class="footer container-fluid">
      <ul>
      <h2>Naganocake</h2>
        会社情報
        |
        サイトマップ
        |
        プライバシーポリシー
      </ul>
    </div>
</footer>
