<div class="genres-container">
  <div class="main row justify-content">
    <div class="genre" style="padding: 24px;">
      ジャンル検索
      <!--後でリンク先を変更-->
      <li><div class="genre-content"><%= link_to "ケーキ" %></div></li>
      <li><div class="genre-content"><%= link_to "キャンディー" %></div></li>
      <li><div class="genre-content"><%= link_to "アイス" %></div></li>
      <li><div class="genre-content"><%= link_to "About", about_path %></div></li>
    </div>
  </div>
</div>